<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue 3 연습용 Composition</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <!-- 
        [v-for]

        문법
        - v-for="(value, key, index) in 객체"
    -->

    <div id="app">
      <ul>
        <li v-for="(value, key, index) in user" :key="index">
          {{index}} => {{key}} : {{value}}
        </li>
      </ul>
    </div>

    <script>
      const { createApp, ref } = Vue;

      createApp({
        setup() {
          const user = ref({
            name: '지원',
            age: 27,
            city: '인천',
          });
          return { user };
        },
      }).mount('#app');
    </script>
  </body>
</html>
